@{
    ViewBag.Title = "SubmitResume";
}
<h2>Upload Resume!</h2>

@using (Html.BeginForm("SubmitResume", "JobPosts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" })<br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}

